<html>

<head>
    <title>binance-connect</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey darken-4">
    <nav>
        <div class="nav-wrapper black">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="hide-on-small-only">
            <a href="#" class="hide-on-small-only brand-logo center amber-text text-lighten-1">Binance-Connect</a>
            <a href="#" class="hide-on-med-and-up"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
        </div>
    </nav>

    <div class="row">
        <div class="col s12 m4 l4 push-m4 push-l4">
            <div class="card black">
                <div class="card-content white-text">
                    <div id="summary">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 l8 push-m2 push-l2">
            <div class="card black">
                <div class="card-content white-text">
                    <div id="results-table">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function round(num) {
            return +(Math.round(num + "e+2") + "e-2");
        }

        window.onload = function getBalances() {
            fetch('/api/get-balances', { 'method': 'POST' })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    // console.log(data);
                    var assets = data["assets"];
                    var stats = data["stats"];
                    var tableData = `<table class="white-text responsive-table">
                            <thead>
                                <tr>
                                    <th class="grey darken-4">Asset</th>
                                    <th class="grey darken-4">Volume</th>
                                    <th class="grey darken-4">Current Price</th>
                                    <th class="grey darken-4">Current Value</th>
                                    <th class="grey darken-4">Average Purchase Price</th>
                                    <th class="grey darken-4">Purchase Value</th>
                                    <th class="grey darken-4">Change</th>
                                    <th class="grey darken-4">&#x25B2;&#x25BC;</th>
                                </tr>
                            </thead>`;
                    for (var asset in assets) {
                        tableData += "<tr><td  class=\"grey darken-4\"><b>" + asset + "</b></td>";
                        tableData += "<td>" + assets[asset]["volume"] + "</td>";
                        tableData += "<td>" + assets[asset]["current_price"] + "</td>";
                        tableData += "<td>" + assets[asset]["current_value"] + "</td>";
                        tableData += "<td>" + assets[asset]["average_purchase_price"] + "</td>";
                        tableData += "<td>" + assets[asset]["purchase_value"] + "</td>";
                        percentChange = Math.abs(round(assets[asset]["change"] * 100 / assets[asset]["purchase_value"]));
                        if (assets[asset]["change"] > 0) {
                            tableData += "<td style=\"color: lightgreen\">" + assets[asset]["change"] + "</td>";
                            tableData += "<td style=\"color: lightgreen\"> &#x25B2; " + percentChange + "%</td>";
                        }
                        else if (assets[asset]["change"] < 0) {
                            tableData += "<td style=\"color: red\">" + assets[asset]["change"] + "</td>";
                            tableData += "<td style=\"color: red\"> &#x25BC; " + percentChange + "%</td>";
                        }
                        else {
                            tableData += "<td>" + assets[asset]["change"] + "</td>";
                            tableData += "<td> &#x25B2; " + percentChange + "%</td>";
                        }
                        tableData += "</tr>";
                    }

                    // add stats
                    summary = "<p><b>Total Current Value:</b> " + stats["total_current_value"];
                    summary += "<br /><b>Total Purchase Value:</b> " + stats["total_purchase_value"];
                    percentChange = Math.abs(round(stats["total_change"] * 100 / stats["total_purchase_value"]));
                    if (stats["total_change"] > 0) {
                        summary += "<br /><b>Total Change:</b><span style=\"color: lightgreen\"> " + stats["total_change"] + " &#x25B2; " + percentChange + "%</span>";
                    }
                    else if (stats["total_change"] < 0) {
                        summary += "<br /><b>Total Change:</b><span style=\"color: red\"> " + stats["total_change"] + " &#x25BC; " + percentChange + "%</span>";
                    }
                    else {
                        summary += "<br /><b>Total Change:</b> " + stats["total_change"] + " &#x25B2; " + percentChange + "%";
                    }

                    document.getElementById("summary").innerHTML = summary;
                    document.getElementById("results-table").innerHTML = tableData;
                })
                .catch(function (error) {
                    console.log(error);
                    document.getElementById("summary").innerHTML = `<p class="red-text center">` + error + `</p>`;
                    document.getElementById("results-table").innerHTML = '';
                });
        }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</body>

</html>